.button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.buttonBox{
    display: flex;
    justify-content: flex-end;
}
.infoBox{
    display: flex;
    flex-direction:column;
    align-items:center;
}