.test{
    border: red 1px solid;
}
.orderButton{
    margin-right: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.priceBox{
    display: flex;
    gap: 9.5px;
    align-Items: center;
}
