.container{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.paragraph{
    margin-right: 8px;
}
.p{
    width: 272px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}.listElement{
    text-align: center;
    position: relative;
    cursor: pointer;  
}