.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type:none;
    gap: 24px;
    min-width: 480px;
}
.inputWrapper,
.inputWrapper div:not(input + div){
    width:100%
}
.link{
    color: #4C4CFF;
    text-decoration: none;
    cursor:pointer;
}
.link:hover{
    opacity: 0.6;
}
