.form{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type:none;
    gap: 24px;
    min-width: 480px;
}
.inputWrapper,
.inputWrapper div:not(input + div){
    width:100%
}
.span{
    color: #4C4CFF;
    
    text-decoration: none;
    cursor:pointer;
}
.span:hover{
    opacity: 0.6;
}