.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.inputWrapper,
.inputWrapper div:not(input + div){
    width:100%
}

.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-width: 480px; 
}

.paragraphBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.link{
    color: #4C4CFF;
    text-decoration: none;
    cursor:pointer;
}
.link:hover{
    opacity: 0.6;
}