.header{
    min-height: 88px;
    background: #1C1C21;
    box-sizing: border-box;
}
.list{
    padding: 0;
    margin-right: 8px;
    list-style-type:none;
    display:  flex;
}
.listElement{
    display:  flex;
    align-items: center;
}
.paragraph{
    margin-left: 8px;

}
.navigator{
    margin: 0 auto;
    width: calc(100% - 2 *320px);
}

.logoElement{
    padding-left: 104px;
    padding-right: 289px;
    display:  flex;
    align-items: center;
}
