.header{
    padding: 0;
    min-height: 88px;
    background: #1C1C21;
    
    /*border: 2px solid #4C4CFF;*/
    box-sizing: border-box;
 
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.list{
    padding: 0;
    margin-right: 8px;
    list-style-type:none;
    display:  flex;
    /* justify-content: space-between; */
}
.listElement{
    display:  flex;
    align-items: center;
}
.paragraph{
    margin-left: 8px;

}
.navigator{
    margin: auto;
    width: calc(100% - 2 *320px);
}

.logoElement{
    padding-left: 104px;
    padding-right: 289px;
    display:  flex;
    align-items: center;
}
.test{
    border: red 1px solid;
}