.header{
    min-height: 88px;
    background: #1C1C21;
    box-sizing: border-box;
}
.nav{
    padding: 0;
    margin-right: 8px;
    display:  flex;
}
.navLink{
    display:  flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    cursor:pointer;
}
.paragraph{
    margin-left: 8px;
}

.logoElement{
    padding-left: 104px;
    padding-right: 289px;
    display:  flex;
    align-items: center;
}

.activelink{
    text-decoration: none;
    cursor:pointer;
}
.unactivelink{
    text-decoration: none;
    cursor:pointer;
}
.activelink:hover{
    opacity: 0.6;
}
.unactivelink:hover{
    opacity: 0.6;
}