.section{
    /* min-width: 600px; */
    display: flex;
    flex-direction: column;
}
.test{
    border: red 1px solid;
}
.list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type:none;
    
}
.onHoverList{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type:none;
    border: #8585AD solid 2px;  
    border-radius: 20px;  
}
.emptyList{
    min-height: 720px;   
}
.onHoverLEmptyist{
    min-height: 720px; 
    border: #8585AD solid 2px;  
    border-radius: 20px;       
}
.listElement{
    display: flex;
    align-items: center;

}
.middleListElement{
    display: flex;
    align-items: center;
 
}
.constructorBox{
    overflow: visible;
    overflow-x: hidden;
    max-height: 468px;
}

.total-price{
    display: flex;
    
}

.p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #8585AD;
    margin-bottom: 20px;
  }

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #2F2F37;
}

/* ползунок скроллбара  */
::-webkit-scrollbar-thumb {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #8585AD;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}