.container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 480px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePageContainer{
    display: flex;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    z-index: 1;
}